.fh5co-project {
  height: 100vh;
  width: 100%;
  content: "viewport-units-buggyfill; height:100vh; width:100vw";
  display: table;
  position: relative;
  padding: 30px 0 0 0;
}

.fh5co-project:before {
  content: "";
  position: absolute;
  top: -200px;
  right: 0;
  left: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.03);
  width: 101%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}
.fh5co-project.no-border {
  border-bottom: none;
}
.fh5co-project.no-border:before {
  display: none;
}

.fh5co-project .fh5co-project-inner {
  display: table-cell;
  vertical-align: middle;
  height: 90vh;
  width: 100vw;
  content: "viewport-units-buggyfill; height:100vh; width:100vw";
  position: relative;
  text-align: -webkit-center;
}

.fh5co-project .fh5co-imgs .img-holder-1,
.fh5co-project .fh5co-imgs .img-holder-2 {
  position: absolute;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.fh5co-project .fh5co-imgs .img-holder-1 img,
.fh5co-project .fh5co-imgs .img-holder-2 img {
  max-width: 100%;
  -webkit-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.fh5co-project .fh5co-imgs .img-holder-2 img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
}
.fh5co-project.fh5co-reverse .img-holder-1 {
  left: auto;
  right: 0;
}
.fh5co-project.fh5co-reverse .img-holder-1 img {
  text-align: right;
}
.fh5co-project.fh5co-reverse .img-holder-2 {
  bottom: -2em;
  right: auto;
  left: 50px;
}

.fh5co-project.fh5co-reverse .img-holder-2 img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
  height: 194px;
}

.fh5co-project .fh5co-text {
  padding-top: 3em;
}
.fh5co-project .fh5co-text h2 {
  color: white;
  margin-bottom: 20px;
}
.fh5co-project .fh5co-text p {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-main,
.fh5co-section {
  padding: 7em 0;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-main small,
.fh5co-section small {
  font-size: 13px;
}
#fh5co-main .fh5co-lead,
.fh5co-section .fh5co-lead {
  font-size: 26px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.6);
}
